/* general */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.active {
  background: #444;
}

.btn {
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 1.5rem;
}

.btn_white {
  color: black;
  background: white;
}

.btn_white:hover {
  color: white;
  background: black;
}

.btn_black {
  color: white;
  background: black;
  border: 1px solid black;
}

.btn_black:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

/* header */

.header {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h2 a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 20px;
}

.header nav {
  display: flex;
  flex-direction: row;
}

.header nav a {
  text-decoration: none;
  color: white;
  padding: 22px;
}

.header nav a:hover {
  background: #444;
}

/* vp */

.vp {
  background: url(cafe1.jpg) center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp_content {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  align-items: center;
  text-align: center;
}

.vp_content h1 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.vp_content .separator {
  border: 5px solid black;
  width: 80px;
  margin: 2rem 0rem 0.5rem 0rem;
}

.vp_content p {
  color: white;
  line-height: 2rem;
  font-size: 1.1rem;
}

/* features */

.features {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features h2 {
  margin-top: 1rem;
}

.features .content_1,
.content_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25rem;
}

/* person */

.person {
  height: 50vh;
  background: url(cafe3.jpg) center center;
  background-size: cover;
}

/* reservation */

.reservation {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reservation_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.5rem;
  text-align: center;
  justify-content: center;
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  height: 5rem;
}

.footer p {
  color: white;
  font-weight: 400;
}

/* where */

.where {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.map {
  flex-basis: 500px;
  height: 300px;
  background: url(cafe2.png) no-repeat;
  background-size: cover;
  margin-right: 1rem;
}

.where_content {
  margin-left: 1rem;
}

.h2_underline {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 10px;
  line-height: 3rem;
}

.m4,
.m11 {
  color: white;
  border-radius: 100%;
}

.m4 {
  background: #be418c;
  padding: 0px 10px;
}

.m11 {
  background: #8c5e24;
  padding: 0px 7px;
}

/* contact */

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact_content form {
  display: flex;
  flex-direction: column;
}

.contact_content form label {
  font-weight: 700;
  margin: 2rem 0;
}

.contact_content form input {
  height: 2.5rem;
  font-size: 1.2rem;
}

.contact_content form input,
textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.contact_content .h2_underline {
  flex-basis: 100%;
  margin-bottom: 0px;
}

.contact_content a {
  align-self: flex-start;
}

/* TO DO LISTE:
contact.html -> faire un margin-right entre map et where_content */
